*
!*/
!.run/*.xml
!*.go
!*.sh
!*.tmpl
!*.yaml
!*.yml
!**/.gitignore
!Brewfile
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!Dockerfile
!go.mod
!go.sum
!Kustomization
!LICENSE
!Makefile
!NOTICE
!README.md
!renovate.json
